    @font-face {
        font-family: HankenGrotesk;
        src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: HankenGrotesk;
      }

      body {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
      }

      p{
        font-size: 18px;
      }

      .container {
        max-width: 640px;
        display: flex;
        border-radius: 1rem;
        box-shadow: 1px 1px 50px 1px hsl(221, 100%, 96%);
        /* color: hsl(241, 100%, 89%); */
      }

      .overall-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px;
        padding: 2rem;
        border-radius: 1rem;
        background: linear-gradient(
          180deg,
          hsl(252, 100%, 67%),
          hsl(241, 81%, 54%)
        );
      }

      .circle {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(
          180deg,
          hsla(256, 72%, 46%, 1),
          hsla(241, 72%, 46%, 0)
        );
        border-radius: 50%;
        padding: 1rem;
        margin: 1em 0;
      }

      .obtained-marks {
        font-size: 3rem;
        color: white;
        font-weight: bolder;
      }

      .maximum-marks{
        color: #8577FF;

      }

      .result-comment {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .result-description{
        color: #A0A2F9;
        text-align:center;
        font-weight: 300;
      }

      .summary-card {
        margin-left: -1.5rem;
        z-index: -1;
        width: 320px;
        padding: 2rem;
        padding-left: 3.5rem;
        border-radius: 1em;
        background-color: white;
      }

      .card-title {
        margin-bottom: 1rem;
        font-size: 18px;
      }

      .parameter-details {
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .reaction-details{
        border-radius: 0.5em;
        background-color: hsla(0, 100%, 67%, 0.1);
      }

      .memory-details{
        border-radius: 0.5em;
        background-color: hsla(39, 100%, 56%, 0.1);
      }

      .verbal-details{
        border-radius: 0.5em;
        background-color: hsla(166, 100%, 37%, 0.1);
      }

      .visual-details{
        border-radius: 0.5em;
        background-color: hsla(234, 85%, 45%, 0.1);
      }
      .parameter-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .out-of{
        color: hsla(0, 0%, 0%, 0.6);
      }
      .parameter-name{
        margin-left: 0.5em;
        font-weight: bolder;
      }

      .parameter-reaction{
        color: hsl(0, 100%, 67%);
      }

      .parameter-memory{
        color: hsl(39, 100%, 56%);
      }

      .parameter-verbal{
        color: hsl(166, 100%, 37%);
      }

      .parameter-visual{
        color: hsl(234, 85%, 45%);
      }

      .btn-dark {
        width: 100%;
        color: hsl(0, 0%, 100%);
        border-radius: 1.5rem;
        padding: 1rem;
        border: none;
        margin-top: 1rem;
        background-color: hsl(224, 30%, 27%);
      }


      @media (max-width: 640px) {
        .container{
          width: 320px;
          flex-direction: column;
          justify-content: center;
        }

        .overall-result{
          border-radius: 0 0 1em 1em;
        }
        .summary-card{
          padding: 2rem;
          margin-left: 0;
          border-radius: 0 0 1em 1em;
          margin-top: -1em;
          padding-top: 3rem;
        }
      }
